@charset "utf-8";

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
<<<<<<< HEAD
    src: url(/common/font/NotoSansKR-Thin.woff) format('woff');
=======
    src: url(../fonts/NotoSansKR-Thin.woff) format('woff');
>>>>>>> main
  }
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
<<<<<<< HEAD
    src: url(/common/font/NotoSansKR-Light.woff) format('woff');
=======
    src: url(../fonts/NotoSansKR-Light.woff) format('woff'); 
>>>>>>> main
  }
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
<<<<<<< HEAD
    src: url(/common/font/NotoSansKR-Regular.woff) format('woff');
=======
    src: url(../fonts/NotoSansKR-Regular.woff) format('woff'); 
>>>>>>> main
  }
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
<<<<<<< HEAD
    src: url(/common/font/NotoSansKR-Medium.woff) format('woff');
=======
    src: url(../fonts/NotoSansKR-Medium.woff) format('woff'); 
>>>>>>> main
  }
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
<<<<<<< HEAD
    src: url(/common/font/NotoSansKR-Bold.woff) format('woff');
=======
    src: url(../fonts/NotoSansKR-Bold.woff) format('woff'); 
>>>>>>> main
  }
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
<<<<<<< HEAD
    src: url(/common/font/NotoSansKR-Black.woff) format('woff');
=======
    src: url(../fonts/NotoSansKR-Black.woff) format('woff'); 
>>>>>>> main
  }
